

/*****/
    general screen properties
 **************************************/
    table {
        border: double;
    }
/*** For mobile device
     maxmum width 1080px            ***/
/**************************************/
@media screen and (max-width: 1080px) {
 
    body {
        width: 980px;
        font-size: 250%;
        line-height: 2em;
        margin: 2em;
    }

    aside {
        background-color: rgb(225, 255, 0);
        border: solid red thick;
    }
    /***
    button {
        font-size: 150%;
    }

    input {
        height: 2.5em;
    }***/

}
/*************************************/
/***END Of FOR MAXIMUM WiDTH 1080px***/
/*************************************/