/*decision width of page*/
@media screen and (max-width: 1080px) {
 
    body {
        width: 980px;
        /*height: 680px;*/
        background-color: aqua;
    }

    aside {
        width: 480px;
        background-color: white;
    }

    a {
        /*font-size:xx-large;*/
        font-size: 48px;
    }
    /*
    .size54px {

        font-size: 54px;
    }
    .size32px {
        font-size: 32px;
    }
    .size16px {

    }
    .size16px {
        color:aqua;
        font-size: 16px;
    }
    .size48px {
        font-size: 48px;
    }
    .aclass {
        font-size: 54px;
    }*/

}